body {
    display: flex;
    justify-content: center;
    font-family: 'roboto', monospace;
    color: #E7C07B;
    background-color: #9CB0CE;
    padding: .5em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 22vw;
    height: 95vh;
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: #587199;
    box-shadow: .3rem .3rem .4rem .2rem grey;
}

.slider-box, .slider-text-box {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
}

button {
    color: #E7C07B;
    background-color: #2C4770;
    font-size: 1.3rem;
    font-weight: 700;
    width: 80%;
    padding: .5rem;
    margin: .2rem;
    margin-top: 2.5rem;
    border-radius: .8rem;
    box-shadow: .1rem .1rem .2rem .2rem grey;
    transition: .4s;
}

button:hover {
    color: #2C4770;
    background-color: #E7C07B;
}

button:active {
    box-shadow: 0rem 0rem 0rem 0rem;
}

.container {
    border: 1.5rem solid#2C4770;
    display: grid; 
    width: 95vh; 
    height: 95vh;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: .3rem .3rem .4rem .2rem grey;
}
.grid-div {
    width: 100%;
    height: 100%;
}

.invis-box {
    width: 17%;
}

