body {
    display: flex;
    justify-content: center;
    font-family: 'roboto', monospace;
    color: #E7C07B;
    background-color: #9CB0CE;
}

.header {
    margin-bottom: -.7em;
    width: 17%px;
    height: 600px;
    border-radius: 1em;
    background-color: #587199;
}

h1 {
    margin: .3em;
}

.slider-box, .slider-text-box {
    display: flex;
    justify-content: center;
}

.slider {
    
}

.container {
    border: 1.5em solid#2C4770;
    display: grid; 
    width: 600px; 
    height: 600px;
    border-radius: 1em;
    box-sizing: border-box;
}
.grid-div {
    width: 100%;
    height: 100%;
}

.invis-box {
    width: 17%;
}

